@import "mocha.css";

* {
    font-family: "CaskaydiaMono NF";
    font-size: 13px;
    font-weight: bold;

    transition-property: background-color;
    transition-duration: 0.1s;
}

window#waybar {
    background-color: transparent;
}

window > box {
    padding: 4px 4px;
    margin: 6px 6px 0px 6px;
    background-color: @crust;
    border-radius: 4px;
}

#window {
    margin: 8px;
    padding-left: 8px;
    padding-right: 8px;
    color: @subtext1;
}

button {
    box-shadow: none;
    border: none;
}

button:hover {
    color: @mauve;
    background: transparent;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.active {
    color: @mauve;
}

#workspaces button.urgent {
    color: @red;
}

#pulseaudio,
#bluetooth,
#clock,
#tray,
#network,
#custom-pacman,
#language {
    padding: 0 8px;
    margin: 0 6px;
}

#clock {
    color: @maroon;
}

#pulseaudio {
    color: @blue;

    padding-right: 0px;
    margin-right: 0px;

    margin-left: 4px;
    padding-left: 2px;
}

#network {
    color: @flamingo;
}

#bluetooth {
    color: @yellow;
    padding-right: 1px;
    margin-right: 1px;
}

#custom-powermenu {
    color: @rosewater;
    padding-right: 12px;
}

#custom-pacman {
    color: @teal;
    padding-right: 0px;
    margin-right: 0px;
}

#language {
    color: @lavender;
    padding: 0;
    margin: 0;
}
